/* new fonts from files */
@font-face { 
  font-family: "PalmCanyonDrive";
  src: url("./fonts/PalmCanyonDrive-Trial.otf ");
  /* src: url("./fonts/PalmCanyonDrive-Trial.otf")format("opentype"),("./fonts/palmcanyondrive-trial-webfont.svg")format("svg"),("./fonts/palmcanyondrive-trial-webfont.woff")format("woff"); */
}

@font-face { 
  font-family: "Enjoy";
  src: url("./fonts/Enjoy Personal Use.otf");
  /* src: url("./fonts/PalmCanyonDrive-Trial.otf")format("opentype"),("./fonts/palmcanyondrive-trial-webfont.svg")format("svg"),("./fonts/palmcanyondrive-trial-webfont.woff")format("woff"); */
}

@font-face { 
  font-family: "Lazer84";
  src: url(./fonts/Lazer84.ttf);
}
@font-face { 
  font-family: "Summer85";
  src: url(./fonts/summer85.ttf);
}
@font-face { 
  font-family: "Abyssopelagic";
  src: url(./fonts/abyssopelagic.ttf);
}
@font-face {
  font-family: "din16";
  src: url(./fonts/Din16Regular.ttf);
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff;
}
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff;
  }

.outrunpurple { 
  background-color: #d90606
}

.outrunPink { 
  background-color:#bb1581
}
/* standard class for header fonts, neon flash is on but curosr does not change */
.lazer84 {
  color: #BC1682;
  /* color: white; */
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family:'Lazer84';
  letter-spacing: 8px;
  font-style:italic;
  text-shadow: 2px 2px 5px #6c0e4b;
}
.abyssopelagic  {
  font-family: 'Abyssopelagic';
  letter-spacing:2px;
}
.din16 {
  font-family: 'din16';
}
form label {
  font-size: 1.2rem;
}
.formspree-send {
  margin-left:2vw;
}

/* border under headers, can be deleted or added to  */
.border-bottom { 
  border-bottom: 2px solid #2b2b2b;
  box-shadow: 0px 1px #6c0e4b
}

/* end new fonts */


.brandLogoFix { 
  width:6vw; 
  height:6vh;
  margin-top:1.4vh;
  /* padding-bottom:3px; */
}

.brandLogoFixOnSmall { 
  width:20%; 
  /* margin-right:3vw; */
  margin-left: 7vw;
  margin-top:1.3vh;
  /* height:45%; */
}
.header {
  background-image: url('./images/headerlogo.png');
  /* background-size: cover; */
  height: 600px;
}

.respImg { 
  width: 100%;
  height:100%;
  
  
}
.blurEdge {
  box-shadow: 0 0 10px 10px inset #1D1D1F
}
/* referring to the container used in the header component with ID HeaderContainer */

#HeaderContainer {
  width: 80%; 
  margin-left: 12%;
  margin-right: 12%;
  height: 600px;
  position: relative;
  
}
.z {
  z-index: -1;
}
/* testing Particle js */

body{
  background-color: #1D1D1F;
  
}
.particlesBehind canvas {
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
} 


/* Joint class tag for both <h2> tags in the Header Component */
.neon {
color: #BC1682;
/* color: white; */
text-decoration: none;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
transition: all 0.5s;
font-family:'Lazer84';
letter-spacing: 8px;
/* font-size: 200em; */
font-style:italic;
/* cursor hover */
cursor: pointer;
}

/* webkit and mozilla animations for joint <h2> tag class from header component.
used to make the pulse of the neon sign and turns the font color white. */
.neon:hover {
  color: #ffffff;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}
/* for Lazer headers webkit and mozilla animations for joint <h2> tag class from header component.
used to make the pulse of the neon sign and turns the font color white. */ 
.lazer84:hover {
  color: #ffffff;
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

/* in major container */
/* class selector specific to the <p> containing beers text */
.beersContent {
  font-size: 46px;
  position: absolute;
  left:10%;
  top: 45%;

}

/* class selector specific to the <p> containing our story text */
/* absolute positioning needs to be changed so that the actual text doesn't overflow with the image  */
.ourStory {
  font-size: 46px;
  text-align: right;
  position: absolute;
  right: 2%;
  top: 45%;
}

/* end in major container */

/* customize cards */
.card-content { 
  background-color: #666;
}
.card{
  background-color: #666
}
.card .card-reveal{
  background-color:#666;
}
.ul-margin { 
  margin-left:4vw;

}
.ul-margin li{
  margin-bottom:2vh;
  font-size:medium
}

.pt { 
  padding-top:8px
}

small { 
  font-family: "lazer84"
}

/* applied styling for Webkit when hovering over the text. */
@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px , 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* applied styling for moz when hovering over the text. */
@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* defining @keyframes used for text supplied by the Header Component */
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* section paragraphs */
p, h5,h4 {
  color: white
}

.card p {
  color: black
}

footer { 
  color:white
}

.center-button { 
  margin-left:14vw;
}

/* HOVER   */

button, i, a :hover{
  cursor:pointer;
}
.clickable:hover { 
  cursor:pointer;

}
/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  .nav-wrapper { 
    width:102%
  }
}