.stickyNav { 
    position:sticky;
    top: 0px;
    z-index:1;
    /* width:99vw; */
}
.stickyNavMini { 
    position:sticky;
    top: 1vh;
    z-index:1;
    width:100%;
}
.navbar-ul a  {
    font-size: 10px;
    font-family: "lazer84"

}

#SideNav a, i , li { 
    color: white;
}

.sideNavImg { 
    width: 30vw;
    height:auto;
}
#SideNav p { 
    font-size: smaller;
    color:white
}